# Default ignored files
/workspace.xml
/uiDesigner.xml
/misc.xml
/vcs.xml
/libraries
/out/
systemsandsecurity.iml
# Datasource local storage ignored files
/dataSources/
dataSources.xml
dataSources.local.xml